<%- model_class = Fountain -%>
<div class="page-header">
  <h1><%=t '.title', :default => Fountain %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:photo_uri) %></th>
      <th><%= model_class.human_attribute_name(:updated_by) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fountains.each do |fountain| %>
      <tr>
        <td><%= fountain.id %></td>
        <td><%= fountain.location %></td>
        <td><%= fountain.photo_uri %></td>
        <td><%= fountain.updated_by %></td>
        <td><%=l fountain.created_at, format: :long %></td>
        <td>
          <%= link_to fountain_path(fountain), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to fountain_path(fountain), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fountain_path,
            :class => 'btn btn-primary' %>
